.login{
  display: flex;
  justify-content: center;
  align-items: center;

  .login-section{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    width: 350px;
    top: -100px;
    position: relative;
  }

  .ant-row.ant-form-item{
    margin-bottom: 15px;
  }
}